<div class="left-side sticky-left-side">
    <div class="logo">
        <h1>
            <a asp-controller="Admin" asp-action="Index"><span>Control panel</span></a>
        </h1>
    </div>
    <div class="logo-icon text-center">
        <a asp-controller="Admin" asp-action="Index">
            <i class="lnr lnr-cog"></i>
        </a>
        <a asp-controller="Home" asp-action="Index">
            <i class="lnr lnr-home"></i>
        </a>
        <a asp-controller="Home" asp-action="Doc">
            <i class="lnr lnr-pencil"></i>
        </a>
    </div>
    <div class="left-side-inner">
        <ul class="nav nav-pills nav-stacked custom-nav">
        </ul>
    </div>
</div>