@model KTU_Mobile_Data.Main_page

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Main_page</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Git_hub_link" class="control-label"></label>
                <input asp-for="Git_hub_link" class="form-control" />
                <span asp-validation-for="Git_hub_link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gmail" class="control-label"></label>
                <input asp-for="Gmail" class="form-control" />
                <span asp-validation-for="Gmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Google_store_app" class="control-label"></label>
                <input asp-for="Google_store_app" class="form-control" />
                <span asp-validation-for="Google_store_app" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Home</a>
</div>